

/*文章列表*/
.postbox{ margin:0; }
.posttitle{border-bottom:3px double #D0D0D0; line-height:30px; font-size:14px;}
.posttitle a{font-size:14px;}
.postbox .post{margin-top: 5px;border-bottom:1px dashed #D0D0D0; background:#fff }
.post{ padding:15px 10px; background:#f7f7f7; color:#333}
.post a:link, .post a:visited {color: #534A47;text-decoration: none;}
.post a:hover {color: #FF5200;text-decoration: none;}

.title{ height: 45px; line-height: 21px;overflow: hidden;position: relative;}
.title h2 a{ font-size: 20px;}
.title p {color: #777777}
.title p a:link, .title p a:visited {color:#FF5200}
.title p a:hover{ text-decoration:underline;}
.title .comment{ color:#FF5200; background:url("/content/images/icon_voice.gif") no-repeat scroll 20px -175px transparent;font-size:14px;font-weight:700;height:25px;overflow:hidden;padding-top:7px;position:absolute;right:0;text-align:center;top:0;width:37px}

.summary{overflow:hidden; margin-top:5px}
.summaryimg img{ width: 500px;}
.summarytxt{ padding: 10px 0; line-height:21px;}


/*详情*/
.htmlbox{padding: 10px 0; line-height:21px;}

.nav-multi-part {border-top: 1px solid #E5E5E5;list-style: none outside none;margin: 0;width: 100%;}
.nav-multi-part:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.nav-multi-part li {
    float: left;
    margin: 0;
    position: relative;
    text-align: center;
    width: 33.33%;
}
.nav-multi-part li.current {
    padding: 20px 0;
}
.nav-multi-part li.current span {
    padding-top: 6px;
}
.nav-multi-part li.next a, .nav-multi-part li.prev a {
    display: block;
    padding: 20px 0;
    text-decoration: none;
    width: 100%;
    line-height:20px;
}
.nav-multi-part li.next a:hover, .nav-multi-part li.prev a:hover {
    background: none repeat scroll 0 0 #F2F3F4;
}
.nav-multi-part li.next a span, .nav-multi-part li.prev span {
    color: #44525E;
}
.nav-multi-part li span {
    display: block;
    font-size: 1.231em;
    margin-bottom: 7px;
}
.nav-multi-part li.current span.icon {
    background: url("/content/Images/sprite-article.png") no-repeat scroll 0 -16px transparent;
    height: 8px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    top: 0;
    width: 12px;
}
.nav-multi-part li .arrow {
    display: inline;
    font-size: 1.4em;
    line-height: 1;
    margin: 0;
    position: relative;
    top: 1px;
}


/*评论*/
#commentbox{ background:#f7f7f7; margin-top:10px;}
#commentbox .contents{}
#commentbox .commentTitle{ padding-left:25px; font-size:14px; font-weight:bold; line-height:30px; background:url("/content/images/icon_comments.gif") no-repeat scroll 5px 10px transparent;}
#commentbox .commentTitle a:link,#commentbox .commentTitle a:visited{ margin-right:12px; color:#6699CC; float:right;font-size:12px; font-weight:normal}
#commentbox .comment{ padding:10px; margin:5px; border-top:1px solid #ccc;}
#commentbox .comment .userinfo{ float:left; width:55px; overflow:hidden}
#commentbox .comment .userinfo span{ font-size:11px;}
#commentbox .comment h4{ margin-left:65px; color:#534A47;font-size:14px; font-weight:bold; line-height:24px;}
#commentbox .comment h4 span{color:#ccc;font-size:12px; font-weight:normal}
#commentbox .comment h4 a:link,#commentbox .comment h4 a:visited{ color:#6699CC; float:right;font-size:12px; font-weight:normal}
#commentbox .comment .commentcontent{margin-left:65px; line-height:24px; padding:5px 10px 5px 0;}

.commentform { margin-top:10px;}
.commentform h3{ margin:0 5px; padding-left:15px; font-size:14px; font-weight:bold; line-height:30px; border-bottom:1px solid #ccc;}
.commentform ul {padding: 10px 0 10px 20px;}
.commentform li { display: block;padding-bottom: 10px; position: relative;}
.commentform li textarea { border-color: #7C7C7C #BBBBBB #BBBBBB;border-style:solid;border-width: 1px; color: #777777;font-size: 14px; height: 130px; line-height: normal; padding: 3px 4px !important;width: 420px;}
.commentform .bnt {height:30px; line-height:30px;}
.commentform .bnt a { background:#fff; border-color: #7C7C7C #BBBBBB #BBBBBB;border-style:solid;border-width: 1px; color:#333333;float:left;font-size: 14px;font-weight: bold;height:29px;line-height:29px;overflow:hidden;text-align: center;width: 70px;}
.commentform .bnt a:hover {background:#f6f6f6;border-color: #7C7C7C #BBBBBB #BBBBBB;border-style:solid;border-width: 1px;color: #333333;text-decoration: none;}
.commentform .input {border-color: #7C7C7C #BBBBBB #BBBBBB #7C7C7C;  border-style: solid; border-width: 1px;color: #777777;font-size: 14px;  height: 19px; line-height: normal; padding: 5px 4px 2px; width: 220px;}

/*--分页 修改过--*/
.pageul{float:right; margin-top:10px;}
.pageul a{display:inline;float:left;padding:5px 10px;margin-left:4px;background-color:#fff;height:20px;line-height:20px;border:1px solid #dfdfdf;text-decoration:none;color:#999;}
.pageul a:hover{color:#FF5200;}
.pageul span{line-height:35px;color:#9f9f9f;font-size:12px;display:inline-block;float:left;}
.pageul em{font-style:normal;color:#FF5200;}
.pageul label{display:inline;background-color:#FFF;float:left;font-size:12px;padding:5px 10px;margin-left:5px;background-color:#fff;height:20px;line-height:20px;border:1px solid #FF5200;text-decoration:none;color:#FF5200;}